
.onetext {
    font-size: 25px;
    color: rgb(32, 226, 113);
}

.textwo {
    font-size: 20px;
}

.after2 {
    margin: 27px;
    margin-top: 15px;
}
.after {
    margin-top: 25px;
    margin: 20px;
}