h1, h2 {
    text-align: center;
    margin-top: 5px;
    color: black;
}

hr {
    width: 1005px; 
    height:1px;
    background-color: rgb(191, 241, 191);
}

.icon {
    margin: 20px;
}

.topico{
    p{
        text-align: center;
        font-size: 20px;
    }
}
